<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mode</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        input:checked + .slider {
            background-color: green;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: gray;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        #switch-container {
            font-size: 16px;
            font-family: Calibri;
            margin: 10px;
            text-align: center;
        }

        body {
            display: flex;
            justify-content: center;
        }

        #input-container {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            text-align: center;
        }

        input[type="number"] {
            width: 50%;
            margin: 20px;
        }

        input[type="submit"] {
            width: 25%;
            margin: 20px;
        }

        #logout {
            position: absolute;
            top: 0;
            right: 0;
        }

        #logout-btn {
            width: 60%;
        }

        #chart-container {
            margin: 20px;
            border-radius: 5px;
            height: 50%;
            width: 50%;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #chart {
            height: 50%;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


    </style>

    <script type="text/javascript">

        function toggleSwitch() {
            const auto_switch = document.getElementById('auto-switch');
            const switch_status = document.getElementById('switch-status');
            document.cookie = "mode=" + auto_switch.checked;
            if(!auto_switch.checked) {
                switch_status.innerText = "AUTO MODE IS OFF";
                window.location.href = "/manual";
            } else {
                switch_status.innerText = "AUTO MODE IS ON";
                window.location.href = "/auto";
            }

        }

    </script>

</head>
<body>
<div id="switch-container">
    <p id="switch-status">AUTO MODE IS ON</p>
    <label class="switch">
        <input type="checkbox" id="auto-switch" checked onchange="toggleSwitch()">
        <span class="slider round"></span>
    </label>
</div>
<br/>


<div id="chart-container">
    <canvas id="chart"></canvas>
</div>
<br/>

<div id="input-container">
    <h3>PRESSURE LEVEL IS <%=pressure%>Pa</h3>
    <form action="/pressure" method="post">
        <label for="pressure">Change pressure level (0-125) Pa</label><br/>
        <input type="number" min="0" max="125" id="pressure" name="pressure" required><br/>
        <input type="submit">
    </form>

</div>


<div>
<form action="/logout" id="logout">
    <input id="logout-btn" type="submit" value="Log Out">
</form>
</div>
<script type="text/javascript">
    function fetchFan() {
        fetch('/fan_data').then(tmp => tmp.json()).then(arr => {
            const x = arr.x;
            const y = arr.y;

            new Chart("chart", {
                type: "line",
                data: {
                    labels: x,
                    datasets: [{
                        data: y,
                        borderColor: "black",
                        fill: false
                    }]
                },
                options: {
                    legend: {display: false},
                    responsive: true,
                    title: {
                        display: true,
                        text: "Temperature per each sample"
                    }
                }
            });

        })

    }
    setInterval(fetchFan,1000);




    function epoch_to_hh_mm_ss(epoch) {
        return new Date(epoch).toISOString().substr(11, 8)
    }
</script>

</body>
</html>