<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body {
            text-align: center;
            background-size: 300% 300%;
            background-image: linear-gradient(
                    -45deg,
                    rgba(59,173,227,1) 0%,
                    rgba(87,111,230,1) 25%,
                    rgba(152,68,183,1) 51%,
                    rgba(255,53,127,1) 100%
            );
            animation: AnimateBG 20s ease infinite;
        }

        input {
            border-top: none;
            border-right: none;
            border-left: none;
            width: 100%;
            margin-bottom: 10px;
            padding: 0 5px;
            height: 40px;
            width: 100%;
            font-size: 16px;
            background: none;
            outline: none;
        }

        button {
            width: 100%;
            height: 50px;
            border: 1px solid;
            border-radius: 25px;
            font-size: 20px;
            background-color: #2691d9;
            font-weight: 700;
            cursor: pointer;
            outline: none;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 10px;
            padding: 0 60px;
            box-sizing: border-box;
        }

        header {
            margin-top: 20px;
        }

        label {
            position: relative;
            left: -37.5%;
        }

        hr {
            margin-bottom: 40px;
        }

        #signup {
            margin: 15px;
        }

        #err {
            margin:10px;
            color: red;
            font-weight: 700;
        }


    </style>



</head>
<body>
<div id="center">
    <header><b>LOGIN</b></header>
    <hr/>
    <div id="err"></div>
    <form method="post" action="/login">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"
               pattern="[a-zA-Z0-9]+" required>

        <br/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               minlength="8" maxlength="30"
               title="Password must includes at least 1 lowercase letter,
                   1 uppercase letter and 1 number,
                   and contain 8 characters at least and 30 at max"
               required>

        <br/>

        <button type="submit">Login</button>
        <div id="signup">Need an account? Sign up <a href="/signup">here</a></div>
    </form>
</div>
<script type="text/javascript">
    console.log(document.cookie);
    const cookies = document.cookie;
    const index = cookies.indexOf("login_err=");
    console.log(index);
    const err_str = cookies.substring(index, index+13);
    console.log(err_str);
    const err_code = Number(err_str.slice(err_str.length-3, err_str.length));
    console.log(err_code);
    const err = document.getElementById("err");
        switch (err_code) {
            //success
            case 201:
                err.innerText = "New User Created!";
                err.style.color = "lime";
                break;

            //wrong password
            case 401:
                err.innerText = "Username or password is incorrect";
                err.style.color = "red";
                break;

            //duplicate username
            case 406:
                err.innerText = "Username already taken";
                err.style.color = "red";
                break;

            //hash password failed
            case 503:
                err.innerText = "Sign up failed. Please try again";
                err.style.color = "red";
                break;

            //unknown error
            default:
                err.innerText = "";
                break;
        }
        setTimeout(() => {
            err.innerText = "";
        }, 5000);
</script>

</body>
</html>