<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual Mode</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        input:checked + .slider {
            background-color: green;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: gray;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        #switch-container {
            font-size: 16px;
            font-family: Calibri;
            margin: 10px;
            text-align: center;
        }

        body {
            display: flex;
            justify-content: center;
        }

        #input-container {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            text-align: center;
        }

        input[type="number"] {
            width: 50%;
            margin: 20px;
        }

        input[type="submit"] {
            width: 25%;
            margin: 20px;
        }

        #logout {
            position: absolute;
            top: 0;
            right: 0;
        }

        #logout-btn {
            width: 60%;
        }

        #stats {
            position: absolute;
            top: 0;
            left: 0;
        }

        #stats-btn {
            width: 80%;
        }

        #chart-container {
            margin: 20px;
            border-radius: 5px;
            height: 50%;
            width: 50%;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #chart {
            height: 50%;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>

    <script type="text/javascript">
        function toggleSwitch() {
            const auto_switch = document.getElementById('auto-switch');
            const switch_status = document.getElementById('switch-status');
            document.cookie = "mode=" + auto_switch.checked;
            if(!auto_switch.checked) {
                switch_status.innerText = "AUTO MODE IS OFF";
                window.location.href = "/manual";
            } else {
                switch_status.innerText = "AUTO MODE IS ON";
                window.location.href = "/auto";
            }
        }
    </script>

</head>
<body onload="push_data()">
<div id="switch-container">
    <p id="switch-status">AUTO MODE IS OFF</p>
    <label class="switch">
        <input type="checkbox" id="auto-switch" onchange="toggleSwitch()">
        <span class="slider round"></span>
    </label>
</div>
<br/>

<div id="input-container">
    <h3 id="ftext">FAN SPEED IS ON <%=fspeed%>%</h3>
    <h3 id="ptext">MEASURED PRESSURE LEVEL IS 120Pa</h3>
    <h3 id="ctext">MEASURED CO2 LEVEL IS 700ppm</h3>
    <form action="/fspeed" method="post">
        <label for="fspeed">SET FAN SPEED (0-100%)</label><br/>
        <input type="number" min="0" max="100" id="fspeed" name="fspeed" required><br/>
        <input type="submit">
    </form>

</div>

<div id="chart-container">
    <canvas id="chart" onload="push_data()"></canvas>
</div>

<div>
    <form action="/logout" id="logout">
        <input id="logout-btn" type="submit" value="Log Out">
    </form>
</div>

<div>
    <form action="/statistics" id="stats">
        <input id="stats-btn" type="submit" value="See Full Statistics">
    </form>
</div>

<script type="text/javascript">
    const ctx = document.getElementById('chart').getContext("2d");
    x = [];
    y = [];
    const myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: x,
            datasets: [{
                data: y,
                borderColor: "green",
                fill: false,
                label: "Pressure Value (Pa)",
                tension: 1
            }]
        },
        options: {
            scales: {
                y: {
                    suggestedMin: 0,
                    suggestedMax: 140
                },
                x:{
                    ticks: {
                        callback: function (val, index) {
                            console.log(this.getLabelForValue(val));
                            const time = new Date(this.getLabelForValue(val));
                            const d = (time.getDate() < 10) ? "0" + time.getDate() : time.getDate();
                            const mo = (time.getMonth() < 10) ? "0" + time.getMonth() : time.getMonth();
                            const y = (time.getFullYear() < 10) ? "0" + time.getFullYear() : time.getFullYear();
                            const h = (time.getHours() < 10) ? "0" + time.getHours() : time.getHours();
                            const m = (time.getMinutes() < 10) ? "0" + time.getMinutes() : time.getMinutes();
                            const s = (time.getSeconds() < 10) ? "0" + time.getSeconds() : time.getSeconds();
                            return d + "/" + mo + "/" + y + "\n" + h + ":" + m + ":" + s;

                        }
                    }
                }
            },


            responsive: true,
            title: {
                display: true,
                text: "Pressure Value (Pa)"
            }
        }
    });


    const push_data = () => {
        fetch('/mutable-data').then(tmp => tmp.json()).then(data => {
            /*console.log (typeof JSON.parse(data));
            data = JSON.parse(data);*/
            console.log(data);
            if(data.auto === true) {
                window.location.href = "/auto";
            }
            else {
                const ftext = document.getElementById('ftext');
                ftext.innerText = "FAN SPEED LEVEL IS " + data.speed.toString() + "%";
                const ptext = document.getElementById('ptext');
                ptext.innerText = "PRESSURE LEVEL IS " + data.pressure.toString() + " Pa";
                const ctext = document.getElementById('ctext');
                ctext.innerText = "CO2 LEVEL IS " + data.co2.toString() + " ppm";
                myChart.data.labels.push(data.timestamp);
                myChart.data.datasets[0].data.push(data.pressure);
                // re-render the chart
                myChart.update();
            }

        })
    }

    setInterval(push_data, 5000);

</script>

</body>
</html>