<html>
<head>
    <meta charset="UTF-8">
    <title>Pressure Statistics</title>
    <!--Load the AJAX API-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
<div style="width: 70%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><canvas id="pressureChart" onload="read_data()"></canvas></div>
<script>
    const ctx = document.getElementById('pressureChart').getContext("2d");

    const pressure_graph = new Chart(ctx, {
        type: "line",
        data: {
            labels: [],
            datasets: [{
                data: [],
                borderColor: "blue",
                fill: false,
                label: "Pressure val"
            }]
        },
        options: {
            scales: {
                y: {
                    suggestedMin: 0,
                    suggestedMax: 140
                },
                x: {
                    ticks: {
                        callback: function (val, index) {
                            console.log(this.getLabelForValue(val));
                            const time = new Date(this.getLabelForValue(val));
                            const d = (time.getDate() < 10) ? "0" + time.getDate() : time.getDate();
                            const mo = (time.getMonth() < 10) ? "0" + time.getMonth() : time.getMonth();
                            const y = (time.getFullYear() < 10) ? "0" + time.getFullYear() : time.getFullYear();
                            const h = (time.getHours() < 10) ? "0" + time.getHours() : time.getHours();
                            const m = (time.getMinutes() < 10) ? "0" + time.getMinutes() : time.getMinutes();
                            const s = (time.getSeconds() < 10) ? "0" + time.getSeconds() : time.getSeconds();
                            return d + "/" + mo + "/" + y + "\n" + h + ":" + m + ":" + s;

                        }
                    }
                }
            },
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: "Pressure value"
                },
                padding: {
                    top: 10,
                    bottom: 30
                },
            }
        },

    });


    const read_data = () => {
        fetch('/mutable-data').then(tmp => tmp.json()).then(data => {

            pressure_graph.data.labels.push(data.timestamp);
            pressure_graph.data.datasets[0].data.push(data.pressure);

            // re-render the chart
            pressure_graph.update();


        });
    }

    setInterval(read_data, 5000);

</script>
</body>
</html>
