<html>
    <head>
        <meta charset="UTF-8">
        <title>Temperature Statistics</title>
        <!--Load the AJAX API-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>

    </head>

    <body>
        <div><canvas id="myChart"></canvas></div>
        <script>
                fetch('/temp_data').then(tmp => tmp.json()).then(arr => {
                    console.log(arr);
                    const x = arr.x;

                    new Chart("myChart", {
                        type: "line",
                        data: {
                            labels: x,
                            datasets: [{
                                data: arr.y,
                                borderColor: "black",
                                fill: false
                            }]
                        },
                        options: {
                            legend: {display: false},
                            responsive: true,
                            title: {
                                display: true,
                                text: "Temperature per each sample"
                            }
                        }
                    });
                })


    </script>
    </body>
</html>
